/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
 html,body {
    max-width: 100%;
    overflow-x: hidden;
}
/* shared style  */
.display-flex{
    display: flex;
}
.text-primary{
    color: rgba(233, 90, 8, 1);
}
.text-black{
    color: rgba(0, 0, 0, 1);
}
.text-gray{
    color: rgba(0, 0, 0, 0.5);
}

.btn-primary{
    background-color: rgba(233, 90, 8, 1);
    color: white;
    padding: 19px 80px;
    font-size: 1.03rem;
    font-weight: 600;
    border: none;
}
/* header style */
.header{
    max-width: 1140px;
    margin: 25px auto 120px;
}

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: medium;
}
.nav-item{
    list-style: none;
    margin-left: 48px;
}
.nav-link .text-black{
    font-weight: bold;
}
.card-text{
    color: rgba(0, 0, 0, 1);
    font-weight: 300;
}
/* Banner style */
.banner{
    margin-top: 120px;
}
.banner-text{
    font-size: 1.375rem;
    font-weight: 500;
}
.banner-title{
    font-size: 4.0625em;
    font-weight: bold;
    margin-top: 140px;
    margin-bottom: 0;
}
.banner-content{
    max-width: 520px;
}
.banner-image{
    max-width: 620px;
}
.banner-image img{
    width: 620px;
}

/* Main Style */

/* Plants section style */
.plants{
    max-width: 1140px;
    margin: 0 auto;
}
.plants-title{
 text-align: center;
 font-size: 3.125rem;
 font-weight: bold;
 margin-bottom: 20px;
}
.plants-description{
    text-align: center;
    font-size: 1.375rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 50px;
}
.cart{
    width: 270px;
    height: 485px;
    margin-bottom: 30px;
}
.cart-text{
    font-size: 1.375rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}
.cart-price{
    font-size: 1.375rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}
.plants-carts{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
/* Plant-Lover section style */
.plants-lover{
    max-width: 1140px;
    margin: 200px auto 100px;
    gap:70px;
}
.plants-lover > div {
    flex: 1;
}

.trusted-badge{
    width: 20%;
    position: absolute;
    margin-top: -130px;
    margin-left: 320px;
}
.plants-lover-image{
    width: 100%;
    height: 100%;
}
.plants-lover-title{
    font-size: 3.125rem;
    font-weight: bold;
}
.plant-lover-description{
    font-size: 1.375rem;
    font-weight: 400;
}
.plants-content{
    padding-top: 38px;
    padding-bottom: 38px;
}

/*--------------------- responsive media query ---------------------------*/

@media screen and (max-width: 550px){
    .header{
    margin:auto;
    }
    .nav-link{
        flex-direction: column;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .list123{
        display: none;
    }
    .banner-image img{
        width: 100%;
    }
    .navbar img{
        max-width: 70px;
        max-height: 40px;
    }
    .banner{
    margin-top: 28px;
    }
    .banner-title{
    font-size: 1.5em;
    margin-top: 28px;
    margin-bottom: 0;
    }
    .banner-text{
    font-size: 0.875rem;
    }
    .plants-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
    }
    .cart-text{
    font-size: 0.875rem;
    margin-bottom: 10px;
    }


    .cart{
    width: 170px;
    height: 340px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    }
    .cart img{
        width: 100%;
        height: auto;
    }
    .cart-text{
    font-size: 1rem;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    }
    .cart-price{
    font-size: 1rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    }
    .plants-carts{
    grid-template-columns: repeat(2,1fr);
    column-gap: 0;
    }
    .cart-button{
    padding: 19px 30px;
    font-size: 1rem;
    }


    .plants{
    max-width: 1140px;
    margin: 0;
    }
    .plants-lover{
        flex-direction: column;
        margin-top: 40px;
        gap: 0;
    }
    .trusted-badge{
    display: none;
    }
    .plants-lover-title{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom:20px;
    }
    .plant-lover-description{
    font-size: 0.875rem;
    }
    .plants-content{
        padding: 0;
     }
     .hide-on-mobile{
        display: none;
     }




}

